$black: #000;
$black87: rgba($black, 0.87);
$black54: rgba($black, 0.54);
$black26: rgba($black, 0.26);
$black12: rgba($black, 0.12);
$black9: rgba($black, 0.09);
$black6: rgba($black, 0.06);

$white: #FFF;
$white87: rgba($white, 0.87);
$white54: rgba($white, 0.54);
$white26: rgba($white, 0.26);
$white12: rgba($white, 0.12);
$white9: rgba($white, 0.09);
$white6: rgba($white, 0.06);

$gray: #637370;
$gray-dark: darken($gray, 10%);
$gray-light: lighten($gray, 50%);

$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #C0CA33;
$yellow: #FDD835;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;

$primary: #57e2ca;

$accent: #ac95c7;

$danger: $red;