@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(//fonts.googleapis.com/css?family=Lato);

@mixin primary-heading-font {
  font-family: 'Lato', HelveticaNeue, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

@mixin body-font {
  font-family: 'OpenSans', HelveticaNeue, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

body {
  @include body-font;
  font-weight:  400;
  font-size: 14px;
  line-height: 1.428571429;
  color: $gray;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  button, input, select, textarea, .form-control {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
  }
}

h1, h2, h3 {
  @include primary-heading-font;
}

h4, h5, h6 {
  @include primary-heading-font;
  line-height: 20px;
}

.text-danger {
  color: $danger !important;
}

.text-primary {
  color: $accent !important;
}

.text-success {
  color: $primary !important;
}

.text-muted {
  color: $black54 !important;
}

.text-shadow {
  text-shadow: 0 1px 1px $black26;
}

i, .fa {
  min-width: 18px;
  text-shadow: none;
  text-align: center;
  vertical-align: initial;
}

.social-icon {
  color: $white;
  font-size: 24px;
  margin: 0 12px;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;

  &:last-child {
    margin-right: 0;
  }

  .fa-twitter:hover {
    color: #00aced;
  }

  .fa-facebook-official:hover {
    color: #3b5998;
  }

  .fa-instagram:hover {
    color: #675144;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    margin: 0 9px;
  }
}
