    <% if (process.env.NODE_ENV === 'production') { %>
      <script src="js/app.bundle.min.fcdc2867.js"></script>
    <% } else { %>
      <script src="js/app.bundle.js"></script>
      <!-- <script src="http://localhost:35729/livereload.js"></script> -->
    <% } %>
  </body>
</html>